@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  font-family: Poppins;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  background: rgba(16, 18, 22, 1);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scrollbar-width: none;
}

.app-container {
  padding: 20px;
}

.locations-table {
  width: 100%;
  border-collapse: collapse;
}

.locations-table th,
.locations-table td {
  border: 1px solid #ddd;
  padding: 8px;
}

.locations-table th {
  background-color: #f4f4f4;
}

.search-bar {
  padding: 8px;
  margin-bottom: 10px;
  width: 250px;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  background: linear-gradient(to right, #ff76af 0%, #f8494c 100%);
  -webkit-backdrop-filter: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
  text-decoration: none;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  max-width: 100vw;
  overflow-x: hidden;
  overflow-y: hidden;
  height: 100dvh;
  background-size: cover;
  background: radial-gradient(
    circle at 50% 30%,
    rgba(103, 103, 103, 0.15),
    transparent 70%
  );
  background-repeat: no-repeat;
  transition: height 0.3s ease;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

p,
h3,
h1,
img,
button,
input,
span,
a,
h2,
label {
  user-select: none;
}

p {
  margin: 0;
}
button,
.input {
  border-radius: 8px;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  transition: border-color 0.25s;
}

input {
  background: transparent;
  border: none;
  font-size: 12px;
  font-weight: 500;
  width: 100%;
}
input::placeholder {
  color: rgb(169, 169, 169);
  font-size: 12px;
  font-weight: 500;
}

input:focus {
  outline: none;
  box-shadow: none;
  font-size: 12px;
  font-weight: 500;
}

.leaflet-control-attribution {
  font-size: 10px;
  background: rgba(
    22,
    27,
    34,
    0.7
  ) !important; /* Latar belakang gelap transparan */
  color: rgba(185, 185, 199, 1) !important; /* Teks putih */
  border-radius: 8px;
  padding: 4px 12px !important;
  margin: 16px !important;
  font-family: Poppins;
  user-select: none;
}

.leaflet-control-attribution a {
  background: linear-gradient(to right, #ff76af 0%, #f8494c 100%);
  -webkit-backdrop-filter: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
  text-decoration: none;
}
.leaflet-control-attribution a:hover {
  text-decoration: underline;
}

.leaflet-tooltip.custom-tooltip {
  font-size: 10px;
  background: rgba(
    22,
    27,
    34,
    0.7
  ) !important; /* Latar belakang gelap transparan */
  color: rgba(185, 185, 199, 1) !important; /* Teks putih */
  border-radius: 8px;
  padding: 4px 12px !important;
  font-family: Poppins;
  user-select: none;
  border: none;
}

.leaflet-tooltip.custom-tooltip::before {
  display: none !important;
}
